@using HamburgerUygulamasi2.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<HamburgerUygulaması.Entity.Menu>
@inject UserManager<User> _userManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuFiyati)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuFiyati)
                </td>
                <td>
                    <div id="counterContainer-@item.Id">
                        <button class="decrementButton" data-id="@item.Id">-</button>
                        <button class="incrementButton" data-id="@item.Id">+</button>
                        <span class="counterValue" id="counterValue-@item.Id">0</span>
                    </div>

                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.incrementButton').forEach(button => {
            button.addEventListener('click', function () {
                var id = this.getAttribute('data-id');
                var counterValue = document.getElementById('counterValue-' + id);
                counterValue.textContent = parseInt(counterValue.textContent) + 1;                
            });
        });

        document.querySelectorAll('.decrementButton').forEach(button => {
            button.addEventListener('click', function () {
                var id = this.getAttribute('data-id');
                var counterValue = document.getElementById('counterValue-' + id);
                if (parseInt(counterValue.textContent) > 0) {
                    counterValue.textContent = parseInt(counterValue.textContent) - 1;
                }
            });
        });
    });
</script>
<form id="orderForm" method="post" asp-controller="Siparis" asp-action="Create">

        <input type="submit" value="Sipariş Oluştur" class="btn btn-primary" />
    </div>
</form>
