@model IEnumerable<HamburgerUygulamasi2.Entity.SepetUrun>
@{
    ViewData["Title"] = "Index";
    var siparisId = ViewBag.SiparisId;
}
@if(Model==null)
{
    <h1>Sepette Ürün Yok...</h1>
}
else
{

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.boyut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AraToplamFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkstraMalzemeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miktar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.boyut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AraToplamFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkstraMalzemeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-controller="Siparis" asp-action="Details" asp-route-id=@siparisId>
<div class="form-control">
    <input type="submit" value="Sipariş Oluştur" class="btn btn-outline-primary" ></input>
</div>
</form>
}
